.back{
    width: 100%;
    height: 100vh;
    background-image:url(../images/background.jpg);
    margin-top: 0px;
}
.dangki>h2{
    color: #004080;
    font-size: XX-Large;
    font-weight: bold;   
    text-align: center;
}
.dangki>h6{
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 15px 0 5px 0;
    color: #666;
    font-family: Cambria, Georgia, serif;
    font-style: italic;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    text-align: center;
}
.tieude{
    padding-top: 30px;
}
.ground{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign{
    width: 337px;
    height: 300px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 7px;
}
.in{
    width: 100%;
    justify-content: center;
    height: auto;
}
.sign_in{
    margin-left: 25px;
    margin-right: 25px;
}
.link{
    margin-left: 25px;
    font-size: 14px;
    padding: 15px 0 5px 0;
    color: #666;
    font-family: Cambria, Georgia, serif;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}
.button{
    margin-left: 185px;
}
a{
    text-decoration: none;
    color: black;
}
.img_back{
    background-image: url(../images/back_admin.jpg);
    width: auto;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow-x: auto;
}
/* .cot0{
    height: 93%;
} */
.cot{
    height: 90%;
    text-align: center;
    font-size: 20px;
    /* border-left: thick solid; */
}
.cot1{
    background-color: white;
    padding-top: 9px;
}
.cot2_1{
    padding-top: 10px;
    width: auto;
    height: auto;
    background-color: white;
}
.tieu_de{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    background-image: url(../images/van_go.jpg);
}
.row {
    --bs-gutter-x: unset;
}
.end{
    width: 100%;
    float: left;
    background: url('../images/footer.jpg') no-repeat top;
    height: 100px;
    bottom: 0px;
    /* position: absolute; */
    /* height: 100px;
    width: 100%; */
}
.subject{
    width: 100px;
}
.icon{
    width: 30px;
    top: 0%;
}





.container_swap{
    width: 20%px;  
}   
.div_left{   
    width: 80%;    
    float: left;    
    text-align: center;    
}    
.div_right{   
    width: 20%;   
    float: right;   
    text-align: center;
}    














table#tableSubject, th, td{
    border:1px solid #ccc;
}
table#tableSubject{
    border-collapse:collapse;
    width:100%;
}
th#tableSubject, td#tableSubject{
    text-align:left;
    padding:10px;
}
tr#tableSubject :hover{
    background-color:#ddd;
    cursor:pointer;
}




























.minh {
	font-size: 10vw;
	color: #03a9f4;
	margin: 30px;
}

.z-text {
	transform: rotateX(30deg) rotateY(-30deg);
	transition: transform 1s;
}

[data-z]:hover .z-text {
	transform: rotateX(-30deg) rotateY(30deg);
}

.z-layer:not(:first-child) {
	color: #027fb7;
}
